.rankingTable {
  width: 75%;
  height: auto;
  margin: 50px auto;
  border: 1px solid black; }

.title {
  position: relative;
  text-align: center;
  background-color: #006400;
  font-family: 'Jura', sans-serif;
  color: white !important; }

.table {
  margin-top: -30px; }

th, td {
  text-align: center !important;
  vertical-align: middle !important; }

.loading {
  text-align: center;
  margin-left: 200px; }
